modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Streamlit"

[[workflows.workflow]]
name = "Run"
author = 39634571

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py"

[[workflows.workflow]]
name = "Streamlit"
author = 39634571

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false main.py"

[[ports]]
localPort = 8501
externalPort = 80
